.ExpenseCard {
  .dropdown-toggle::after {
    display: none !important;
  }

  .dropdown-toggle-highlight:focus {
    background-color: #f0f0f0;
    outline: none;
  }
}

.info__delete__image {
  padding-bottom: 1rem;
}

.size-error-amount {
  font-size: 0.9rem;
}
